body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav .logo span {
    color: orange;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.homepage-container {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('C:\Users\chetraj\Desktop\AGRIGEN FORNTEND\agrigen-frontend\src\asset\plantImage.jpg');
    background-repeat: no-repeat;
    background-position: right bottom; 
    background-repeat: no-repeat;
}

.homepage-box {
    padding: 2rem;
    border-radius: 60px;
    width: 500px; 
    text-align: left;
     
}

.homepage-box h1 {
    margin-bottom: 1rem;
    color: #000;
    font-size: 3rem; 
    line-height: 1.4; 
    word-wrap: break-word; 
}
.get-started-button {
    background-color: #ff6600; 
    color: #fff;
    border: none; 
    padding: 0.75rem 1.5rem; 
    font-size: 1rem; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.get-started-button:hover {
    background-color: #e65c00; 
}
